<app-vnsuche (selectedVn)="onSelectVn($event)"></app-vnsuche>
<div *ngIf="selectedVn">
  <div class="col-md-6">
    <button (click)="toggleEditorMode()">{{editorMode ? 'Abbrechen' : 'Neue Adresse'}}</button>
  </div>
  <br/>
  <br/>
  <div *ngIf="!editorMode">
    <app-adressviewer [selectedAdresse]="selectedAdresse"></app-adressviewer>
    <br/>
    <br/>
    <h5>Erfasste Verträge</h5>
    <ul class="heroes">
      <li *ngFor="let vertrag of selectedVertraege">
        <span class="badge">{{vertrag.vertragId}}</span>
      </li>
    </ul>
  </div>
  <div *ngIf="editorMode">
    <app-adresseditor [selectedAdresse]="selectedAdresse"></app-adresseditor>
  </div>
</div>