<app-vnsuche (selectedVn)="onSelectVn($event)"></app-vnsuche>
<div *ngIf="selectedVn.kundennummer">
  <div class="col-md-6">
    <button (click)="setEditorMode(true); setProcessMode(false);" class="btn btn-default btn-sm">{{editorMode ? 'Abbrechen' : 'Neue Adresse'}}</button>
  </div>
  <br/>
  <br/>
  <div *ngIf="!editorMode">
    <div *ngIf="selectedAdresse">
      <app-adressviewer [selectedAdresse]="selectedAdresse"></app-adressviewer>
    </div>
    <br/>
    <br/>    
  </div>
  <div *ngIf="editorMode">    
    <app-adresseditor [selectedAdresse]="selectedAdresse" (cancelCB)="cancelCB()" (saveCB)="saveCB($event)"></app-adresseditor>    
  </div>
  <div *ngIf="processMode">
    <br/>
    <br/>
    <h5>Folgende Verträge wurden versucht automatisch umzumelden</h5>
    <div *ngFor="let vertrag of processedVertraege">
      <app-vertragviewer [selectedVertrag]="vertrag" (onVertragClick)="gotoVertrag($event)"></app-vertragviewer>
    </div>
  </div>
</div>