<div class="row">
  <div class="col-md-6">
    <h5>Aktuelle Adresse</h5>
  </div>
  <div class="col-md-6">
    <h5>Neue Adresse</h5>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    Strasse:
  </div>
  <div class="col-md-4">
    {{selectedAdresse.strasse}}
  </div>
  <div class="col-md-6">
    <input type="text" class="adresseditor-input" [(ngModel)]="newAdresse.strasse">
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    Postleitzahl:
  </div>
  <div class="col-md-4">
    {{selectedAdresse.plz}}
  </div>
  <div class="col-md-6">
    <input type="text" class="adresseditor-input" [(ngModel)]="newAdresse.plz">
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    Ort:
  </div>
  <div class="col-md-4">
    {{selectedAdresse.ort}}
  </div>
  <div class="col-md-6">
    <input type="text" class="adresseditor-input" [(ngModel)]="newAdresse.ort">
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    Land:
  </div>
  <div class="col-md-4">
    {{selectedAdresse.land}}
  </div>
  <div class="col-md-6">
    <input type="text" class="adresseditor-input" [(ngModel)]="newAdresse.land">
  </div>
</div>
<div class="row">
  <div class="col-md-6">  </div>
  <div class="col-md-3">
    <button (click)="saveAdresse()" class="btn btn-default btn-sm">Speichern</button>
  </div>
  <div class="col-md-3">
    <button (click)="cancelSave()" class="btn btn-default btn-sm">Abbrechen</button>
  </div>
</div>